@font-face {
    font-family: "Comfortaa";
    src: local('Comfortaa-Regular'), local('Comfortaa'),
    url(../assets/fonts/Comfortaa/Comfortaa-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Comfortaa";
    src: local('Comfortaa-Light'),local('Comfortaa'),
    url(../assets/fonts/Comfortaa/Comfortaa-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Comfortaa";
    src: local('Comfortaa-Medium'),local('Comfortaa'),
    url(../assets/fonts/Comfortaa/Comfortaa-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Comfortaa";
    src: local('Comfortaa-SemiBold'),local('Comfortaa'),
    url(../assets/fonts/Comfortaa/Comfortaa-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Comfortaa";
    src: local('Comfortaa-Bold'),local('Comfortaa'),
    url(../assets/fonts/Comfortaa/Comfortaa-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}